<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        background-color: black;
    }
    h1{
        color: azure;
        font-family: sans-serif;
    }
</style>
<body>
    <h1>CONTATO</h1>
    <p style="color: bisque;">angela: 89898998</p>
    <p style="color: blueviolet;">jane: 89898998</p>
    <p style="color: chocolate;">malokeira: 89898998</p>
</body>
</html>