<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Produtos</title>
</head>
<style>
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    main{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #4682B4;
    }
    body{
        background-color: #4682B4;;
    }
    .cadastrar{
        display: flex;
        justify-content: center;
    }
</style>
<body>
    <main>
        <form action="/user/save" method="post">
            <div>
                <input type="text" name="name" placeholder="Nome">
            </div>
            <div>
                <input type="number" name="preco" placeholder="Preço">
            </div>
            <div>
                <input type="text" name="descricao" placeholder="Descrição">
            </div>
            <div class="cadastrar">
                <input type="submit" value="Cadastrar">
            </div>
        </form>
    </main>
</body>
</html>