<p>Produtos</p>
<a href="/">Voltar</a>
<ul>
    {{#each produto1}}
    <li>{{this}}</li>
    {{/each}}
</ul>
<ul>
    {{#each produto2}}
    <li>{{this}}</li>
    {{/each}}
</ul>
<ul>
    {{#each produto3}}
    <li>{{this}}</li>
    {{/each}}
</ul>